In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('ner_dataset.csv', encoding='unicode_escape')

In [8]:
df.head(20)

     Sentence #           Word  POS    Tag
0   Sentence: 1      Thousands  NNS      O
1           NaN             of   IN      O
2           NaN  demonstrators  NNS      O
3           NaN           have  VBP      O
4           NaN        marched  VBN      O
5           NaN        through   IN      O
6           NaN         London  NNP  B-geo
7           NaN             to   TO      O
8           NaN        protest   VB      O
9           NaN            the   DT      O
10          NaN            war   NN      O
11          NaN             in   IN      O
12          NaN           Iraq  NNP  B-geo
13          NaN            and   CC      O
14          NaN         demand   VB      O
15          NaN            the   DT      O
16          NaN     withdrawal   NN      O
17          NaN             of   IN      O
18          NaN        British   JJ  B-gpe
19          NaN         troops  NNS      O

Задача распознавания именнованных сущностей заключается в поиске в тексте именнованных сущностей: имен собственных, названий городов, рек, валют, газет, компаний и т.д.

BIO (Beginning Inside Outside) tagging

[BIO tagging](https://miro.medium.com/v2/resize:fit:4800/0*NoDvGqvXTfaDoGmg)

O - outside - не именованная сущность

B - beginning - первое слово именованной сущности

I - inside - последующие слова именованной сущности

POS - Part of Speach - часть речи

In [10]:
df.shape

(1048575, 4)